<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fragments</title>
</head>
<body>

<!-- 상단바 -->
<div th:fragment="navbar">
    <div class="navbar" style="display: flex; justify-content: space-between; align-items: center;">
        <h1><a href="/" style="text-decoration: none; color: inherit">가계부</a></h1>
        <i class="fa-solid fa-arrow-right-from-bracket fa-2x" style="cursor: pointer; margin-right: 30px;" onclick="logout()"></i>
    </div>
</div>

<!-- 사이드바 -->
<div th:fragment="sidebar">
    <div class="sidebar">
        <ul>
            <li></i><a href="/" class="current">내역</a></li>
            <li><a href="/calendar" class="calendar">달력</a></li>
            <li><a href="#">예산</a></li>
            <li><a href="#">통계</a></li>
            <li><a href="/setting" class="setting">설정</a></li>
        </ul>
    </div>
</div>
</body>
</html>
